<!DOCTYPE html>
<html lang="en">
<head>
    <title>Board</title>
</head>
<body>
    <ul>
    {% for feed in board.feeds %}
        <li>{{feed.body}}</li>
    {% endfor %}
    </ul>
    {% from "_formhelpers.html" import render_field %}
    <form method=post action="/feed">
      <dl>
	{{ render_field(form.feed) }}
	{{ form.board_id }}
      </dl>
      <p><input type=submit value=Submit>
    </form>
</html>