{% from "_formhelpers.html" import render_field %}
<form method=post action="/create_board">
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
  </dl>
  <p><input type=submit value=Submit>
</form>