<!DOCTYPE html>
<html lang="en">
<head>
    <title>Boards</title>
</head>
<body>
    <ul>
    {% for board in boards %}
        <li><a href="/board/{{board.id}}">{{board.name}}</a></li>
    {% endfor %}
    </ul>
</body>
</html>